:root {
  --purple: #835AFD;
  --pink: #E559F9;

  --danger: #E73F5D;
  --green: #04d361;

  --black: #29292E;
  --dark: #737380;
  --medium: #A8A8B3;
  --light: #DBDCDD;
  --white: #fffafa;

  --background: #F8F8F8;
  --details: #FEFEFE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
}

body, input, button, textarea {
 font: 400 16px "Roboto", sans-serif; 
}
