.question {
  background-color: var(--details);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;


  &+.question {
    margin-top: 8px;
  }

  &.highlighted {
    background-color: var(--details);
    border: 1px solid var(--purple);

    footer .user-inf span{
      color: var(--black);
    }
  }

  &.answered {
    background-color: var(--light);
  }

  p {
    color: var(--black);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: var(--dark);
        font-size: 14px;
      }
    }

    >div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      transition: filter .2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--dark);
        
        gap: 8px;

        &.liked {
          color: var(--purple);

          svg path {
            stroke: var(--purple);
          }
        }
      }

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}