button.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: var(--details);
  border: 1px solid var(--purple);
  cursor: pointer;

  display: flex;

  div {
    height: 100%;
    background: var(--purple);
    padding: 0 12px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;

    padding: 0 16px 0 12px;
    width: 260px;
    font-size: 14px;
    font-weight: 400;
  }
}